<h1>List of Movies</h1>
<p> Updated list of upcoming movies.</p>
<% if current_user %>
    <p>If you know about a new movie release, please <%= link_to 'Add a New Movie', new_movie_path %></p>
<% else %>
    <p>If you want to add a new movie, please <%= link_to 'Login', new_session_url %></p>
<% end %>
<br>


<%= form_with url: movies_path, method: :get, local: true do |f| %>
    <%= f.label :q, "Search for:" %>
    <%= f.text_field :q, id: :q %>
    <%= f.select :by, [['Movie title', 0], ['Director', 1], ['Actors', 2]] %>

    <%= f.submit "Search" %>
<% end %>
<div class="space"></div>
<table>
  <thead>
    <tr>
      <th><%= sortable 'title', 'Title' %></th>
      <th><%= sortable 'release_date', 'Release date' %></th>
      <th><%= sortable 'original_rating', 'Rating' %></th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.release_date %></td>
        <td><%= movie.total_average_rating %></td>
        <td><%= link_to 'Show', movie %>
          <% if current_user && current_user.id == movie.user_id %>
              | <%= link_to 'Edit', edit_movie_path(movie) %> |
              <%= link_to 'Remove', movie, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= will_paginate @movies %>


<br>