<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @movie.runtime %>
</p>

<p>
  <strong>Director/s:</strong>
  <% @movie.director.each do |director| %>
  <%= director.person.name %>
  <% end %>
</p>


<p>
  <strong>Actors:</strong>
  <% @movie.cast.each do |actor| %>
    <li><%= actor.person.name %></li>
  <% end %>
</p>
<% if current_user && current_user.id == @movie.user_id %>
  <%= link_to 'Edit', edit_movie_path(@movie) %> |
<% end %>
<%= link_to 'Back', movies_path %>
