<!DOCTYPE html>
<html>
  <head>
    <title>Moviedb</title>
    <%= csrf_meta_tags %>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <div class="row">
        <% if flash[:notice] %>
            <div id="notice"><%= flash[:notice] %></div>
        <% end %>
        <div class="col-md-2 col-sm-1"></div>
        <div class="col-md-8 col-sm-10">
          <%= yield %>
        <div class="col-md-2 col-sm-1"></div>

      </div>
    </div>
  </body>
</html>
